@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido aquisitoffff</h1>
    <p>Aprende de <a href="https://www.google.com">GITHUB  e Integracion continua....</a>.</p>
</div>
